<app-post-form [currentPost]="currentPost" [isEdit]="isEdit" (newPost)="onNewPost($event)" (updatedPost)="onUpdatedPost($event)"></app-post-form>

<h2 class="mb-3">Posts</h2>
<div *ngIf="posts?.length > 0">
    <div class="card card-body mb-3" *ngFor="let post of posts">
        <h3><a routerLink="/post/{{post.id}}" class="text-decoration-none">{{post.title}}</a></h3>
        <p>{{post.body}}</p>
        <hr>
        <div class="buttons d-flex">
            <button class="btn btn-light btn-small mr-1" (click)="removePost(post)" ><i class="fa fa-trash"></i></button>
            <button class="btn btn-light btn-small mr-1" (click)="editPost(post)"><i class="fa fa-pencil"></i></button>
        </div>
    </div>
</div>